/* input field */
input {
  font-size: 20px;
  padding: 5px 7px;
}


/* notices */
.no-doc-notice {
  text-align: center;
  font-size: 24px;
  background-color: #eee;
  border-radius: 2px;
  padding: 20px 0px;
}


/* for when there are results */

li {
  max-height: 40px;
  list-style: none;
  border-bottom: 1px solid #eee;
  transition: max-height .33s ease-out;
  overflow: hidden;
}

.doctor-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  font-size: 16px;
  background-color: white;
}

/* doctor bio information */
p {
  background-color: #eee;
  border-radius: 2px;
  padding: 10px 5px;
}

li:hover {
  max-height: 200px;
  transition: max-height .5s ease-in;
}





/* pagination buttons */

.more-results {
  margin-top: 25px;
  display: flex;
  width: 700px;
  justify-content: space-around;
}

.more-results > div {
  width: 150px;
  padding: 10px 5px;
  border: 1px solid #eee;
  border-radius: 2px;
  text-align: center;
  background-color: red;
}

.more-results > div:hover {

}

.next-results {

}
